{
  "extends": [
    "react-app",
    "prettier"
  ],
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "react-hooks/exhaustive-deps": [
      0
    ]
  },
  "plugins": [
    "prettier"
  ]
}