.root {
  padding: 20px;
  width: 100%;
  overflow: hidden scroll;

  .header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
    
    .buttons {
      display: flex;
    }
    
    @media screen and (max-width: 414px) {
      flex-direction: column;
      align-items: start;
      position: sticky;
      top: -25px;
      background-color: var(--system-white);
      z-index: 1;

      .buttons {
        width: 100%;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;
        }

        .filters {
          width: 50%;
          align-items: center;

          .hiddenContent {
            right: 0;
            left: 0;
            top: calc(100% - 10px)
          }
        }
      }
    }

    .filters {
      display: flex;
      flex-direction: column;
      align-items: center;

      &.open {
        .hiddenContent {
          opacity: 1;
          transform: scale(1);
          transition: transform, opacity 0.2s;
          z-index: 1;
          pointer-events: auto;
        }
      }

      &.activeFilter {
        i {
          background-color: var(--system-mate-silver);
        }
      }

      .hiddenContent {
        position: absolute;
        top: calc(100% - 25px);
        background-color: var(--system-light-gray);
        z-index: -1;
        padding: 15px;
        border-radius: 4px;
        opacity: 0;
        transform: scale(0.9);
        transition: all 0.2s;
        pointer-events: none;
      }

      i {
        color: var(--system-black);
        cursor: pointer;
        border-radius: 4px;
      }

      .dateIntervalPicker {
        margin: 0 auto 10px;
        width: 230px;
        max-width: 230px;

        @media screen and (max-width: 414px) {
          width: 100%;
          max-width: 100%;
          height: 35px;
        }
      }

      span {
        cursor: pointer;
        text-align: center;
        display: block;
        color: var(--system-blue);
        margin-top: 10px;
        padding: 0;
      }
    }

    .picker {
      width: 250px;
      margin-right: 10px;
      
      @media screen and (max-width: 414px) {
        width: 100%;
        height: 35px;
        margin: 10px 0;
      }
    }

    h2 {
      margin-right: 10px;
    }
  }

  .headerMenu {
    display: flex;
    align-items: center;

    .picker {
      margin: 0 auto;
      width: 240px;
    }
  }

  .transactionCreate {
    margin-top: 20px;
    max-width: 600px;

    span {
      display: block;
      margin-top: 10px;
      color: var(--system-red);
    }

    .editActions {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }

    .removeAction {
      display: inline-block;
      margin-left: 10px;
      margin-top: 0;
      padding: 5px 15px;
      font-size: 18px;
      font-weight: 400;
      border-radius: 4px;

      &:hover {
        cursor: pointer;
        background-color: var(--system-red-light);
      }
    }
  }

  .transaction {
    padding: 10px;
    align-items: center;
    color: var(--system-black);
    border-bottom: 1px solid var(--system-gray);
    height: 40px;

    &:hover {
      cursor: pointer;
      text-decoration: none !important;
    }

    .payment {
      display: flex;

      span {
        margin-left: auto;
        font-size: 14px;
        padding-left: 20px;
        min-width: 120px;
      }
    }

    .cost {
      font-size: 16px;
    }

    .comment {
      font-size: 14px;
      display: flex;
      align-items: flex-start;

      span {
        display: block;
        margin-left: auto;
      }
    }

    &.transfer {
      .cost {
        color: var(--system-white) !important;
      }
    }

    &.income {
      .cost {
        color: var(--system-green);
      }
    }

    &.outcome {
      .cost {
        color: var(--system-red);
      }
    }
  }

  .icon {
    color: var(--system-black);
    cursor: pointer;
    margin-right: 10px;
  }

  .content {
    padding-bottom: 20px;
    position: relative;

    table {
      width: 100%;
      text-align: left;
      margin:0;
      padding:0;
      background:none;
      border:none;
      border-collapse:collapse;
      border-spacing:0;

      th {
        font-weight: 400;
        font-size: 18px;
      }
      
      thead {
        position: sticky;
        top: -20px;
        background-color: var(--system-opacied-white);
        padding: 10px 0;
        height: 40px;
        backdrop-filter: blur(0.4rem);
      }
    }

    @media screen and (max-width: 414px) {
      padding-bottom: 75px;
    }

    .info {
      color: var(--system-light-text);
    }

    .moreButton {
      color: var(--system-blue);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 30px;
      margin-top: 10px;
      cursor: pointer;
    }
  }
}
