.root {
  height: 100%;

  .content {
    height: calc(100% - 45px);
    display: flex;

    @media screen and (max-width: 414px) {
      height: 100%;
      margin-top: -45px;
    }
  }

  .accountPopup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;

    .joinForm {
      display: flex;

      button {
        margin-left: 10px;
      }
    }

    button {
      display: block;
      margin-top: 20px;
    }

    input {
      width: 230px;
      margin-top: 20px;
    }
  }

  .accountWindow {
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(0.4rem);

    &.loaded {
      top: 0;
      bottom: auto;
      margin-top: -100%;
      backdrop-filter: blur(0);
    }
  }
}
