.root {
  padding: 20px;
  overflow: hidden scroll;
  width: 100%;

  @media screen and (max-width: 414px) {
    padding-bottom: 80px;
  }

  .header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }

  .content {
    @media screen and (max-width: 414px) {
      .chartWrapper {
        width: 100%;
        overflow: scroll;
      }
    }

    h3 {
      padding: 20px 0;
    }
    h4 {
      padding: 15px 0;
    }

    .filters {
      form {
        display: flex;
        align-items: center;

        @media screen and (max-width: 414px) {
          flex-direction: column;

          input, select {
            height: 40px !important;
            margin: 10px 0 !important;
          }
        }

        input,
        select {
          height: 30px;
        }

        input[type='date'] {
          min-width: 160px;
        }

        input, select {
          margin: 0 5px;

          @media screen and (max-width: 414px) {
            margin: 5px 5px;
          }
        }

        input:first-of-type {
          margin-left: 0;
        }

        button {
          margin-top: 0;
        }
      }
    }

    .status {
      text-align: center;

      .error {
        display: block;
        margin: 20px auto;
        color: var(--system-red);
      }
      .info {
        display: block;
        margin: 20px auto;
        color: var(--system-gray);
      }
    }

    .graphs {
      display: flex;
      margin-bottom: 10px;

      @media screen and (max-width: 414px) {
        flex-direction: column;
      }
    }
  }
}
