.root {
  padding: 20px;

  h2,
  h3 {
    font-weight: 300;
    padding-bottom: 20px;
  }

  h2 {
    font-size: 29px;
    line-height: 37px;
    font-weight: 300;
    padding-bottom: 20px;
  }

  h3 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 23px;
    line-height: 30px;
  }

  .ownerData {
    margin-bottom: 10px;
  }

  .pendingRequests {
    .pendingRequest {
      .rejectRequest {
        color: var(--system-red)
      }
    }
  }

  .emptyList {
    color: var(--system-light-text);
  }
}
