.root {
  width: 260px;
  min-width: 260px;
  border-right: 1px solid hsla(0, 0%, 83.1%, 0.6);
  height: 100%;
  background-color: var(--system-mate-silver);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 414px) {
    display: none;
  }

  .footerItem,
  .footerLink {
    padding: 5px 10px;
    text-align: center;
  }

  .footerLink {
    margin-top: auto;
  }

  .link {
    height: 45px;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid var(--system-aluminium);

    &.activeLink {
      background-color: var(--system-silver);

      span {
        border-bottom: 0;
      }
    }

    span {
      margin-left: 10px;
      border-bottom: 1px solid var(--system-mate-aluminium);
      display: flex;
      align-items: center;
      height: 100%;
      color: var(--TextBase);
    }
  }
}
