.root {
  height: 45px;
  background-color: var(--system-opacied-gray);
  color: var(--system-white);
  display: flex;
  align-items: center;
  font-size: 19px;
  font-weight: 400;
  white-space: nowrap;
  position: sticky;
  top: 0;
  backdrop-filter: blur(0.4rem);
  z-index: 100;

  @media screen and (max-width: 414px) {
    top: calc(100vh - 60px);
    height: 60px;

    .desktop {
      display: none !important;
    }

    .mobile {
      display: flex !important;

      width: 100%;
      height: 100%;

      a {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
      }

      .activeLink {
        border-top: 5px solid var(--system-white);
      }
    }
  }

  .desktop {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .mobile {
    display: none;
  }

  .logo {
    margin-left: 10px;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
  }

  .username {
    margin-left: auto;
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;

    a {
      color: var(--system-white)
    }

    .icon {
      margin: 0 10px;
      cursor: pointer;
    }
  }
}
