.root {
  padding: 20px;
  overflow: hidden scroll;
  width: 100%;

  .header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;

    .icon {
      margin-left: 10px;
      color: var(--system-black);
      cursor: pointer;
    }
  }

  .createForm {
    margin-top: 20px;
    max-width: 600px;

    .editActions {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }

    .removeAction {
      display: inline-block;
      margin-left: 10px;
      margin-top: 0;
      padding: 5px 15px;
      font-size: 18px;
      font-weight: 400;
      border-radius: 4px;

      &:hover {
        cursor: pointer;
        background-color: var(--system-red-light);
      }
    }

    span {
      display: block;
      margin-top: 10px;
      color: var(--system-red);
    }
  }

  .content {
    span {
      color: var(--system-gray);
    }
    .loader {
      color: var(--system-light-text);
    }

    .paymentAccountCollection {
      .paymentAccount {
        font-size: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;

        & + .paymentAccount {
          margin-top: 20px;
        }

        .accountHeader {
          display: flex;
          align-items: center;
        }

        .addLink {
          margin-left: 10px;

          img {
            width: 15px;
            height: 15px;
          }
        }

        .editLink {
          margin-left: auto;
          font-size: 18px;
        }

        .accountName {
          margin-right: 5px;
        }

        .accountRemains {}
        .accountDescription {
          font-size: 16px;
          margin-top: 5px;
        }
      }
    }

    .paymentCollection {
      padding: 10px 20px;

      .loader {
        font-size: 16px;
        margin-top: 10px;
      }

      .paymentMethod {
        padding: 5px 10px;
        display: flex;
        color: var(--system-black);
        font-size: 16px;
        align-items: center;
        border-bottom: 1px solid var(--system-aluminium);
        transition: .3s ease;

        &:hover {
          background-color: var(--system-mate-silver);
          transition: .3s ease;
        }

        @media screen and (max-width: 414px) {
          max-width: 100%;
          width: 100%;
          box-sizing: border-box;
        }

        .paymentName {
          font-size: 18px;
          min-width: 150px;
          max-width: 170px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .paymentDescription {
          margin-left: 20px;
        }

        .paymentOwner {
          margin-left: auto;
        }
      }
    }
  }
}
