body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
}

html {
  height: 100%;
}

.fa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;

  &:before {
    color: inherit;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2,
h3,
h4 {
  font-weight: 300;
}
h2 {
  font-size: 29px;
  line-height: 37px;
  font-weight: 300;
}

h3 {
  font-size: 23px;
  line-height: 30px;
}

h4 {
  font-size: 17px;
  line-height: 23px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  color: var(--system-blue);
  text-decoration: none;
}

#root {
  height: 100%;
}

input::-webkit-date-and-time-value {
  height: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}

input[type='date'] {
  display: block;
  border-color: var(--system-silver);
  padding: 2px 8px;
  border-width: 1px;
  color: var(--system-black);
  font-size: 16px;
  border-radius: 2px;
  border-style: solid;
  outline: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;

  &:focus {
    border-color: var(--system-blue);
    box-shadow: var(--system-light-blue) 0 0 2px;
    border-radius: 2px;
  }
}

img {
  aspect-ratio: auto 25 / 25;
}

form {
  span {
    color: var(--system-red);
    display: block;
    padding: 10px 5px;
  }
  input,
  select {
    width: 100%;
    display: block;
    border-color: var(--system-silver);
    padding: 2px 8px;
    border-width: 1px;
    color: var(--system-black);
    font-size: 18px;
    border-radius: 2px;
    border-style: solid;
    outline: none;
    box-sizing: border-box;
    -webkit-appearance: none;

    @media screen and (max-width: 414px) {
      height: 35px;
    }

    &:focus {
      border-color: var(--system-blue);
      box-shadow: var(--system-light-blue) 0 0 2px;
      border-radius: 2px;
    }

    & + input,
    & + select {
      margin-top: 10px;
    }

    & + button {
      margin-top: 10px;
    }
  }

  button {
    display: inline;
    padding: 4px 15px;
    font-size: 18px;
    position: relative;
    border: 1px solid #07c;
    border-radius: 4px;
    font-weight: 400;
    background: linear-gradient(#42a1ec, #0070c9);
    color: var(--system-white);
    width: auto;

    &.flat {
      background: var(--system-silver);
      border: 0;
      width: 100%;
      color: var(--system-black);
      transition: 0.2s;

      &:hover {
        background: var(--system-aluminium);
        transition: 0.2s;
      }
    }

    &:hover {
      cursor: pointer;
      background: linear-gradient(#51a9ee, #147bcd);
    }
  }
}
