.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .icon {
    i {
      width: 18px;
      height: 18px;
      margin: 0 7px;

      @media screen and (max-width: 400px) {
        width: 25px;
        height: 25px;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .pages {
    display: flex;
    align-items: center;

    @media screen and (max-width: 400px) {
      font-size: 16px;
    }

    input {
      width: 20px;
      margin-right: 5px;
      text-align: center;

      @media screen and (max-width: 400px) {
        width: 30px;
        font-size: 14px;
      }
    }
  }
}
